<html>
    <head>
        <title>Flask app</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <head>
      {% if title %}
      <title>{{ title }} - Dvash diamonds</title>
      {% else %}
      <title>Welcome</title>
      {% endif %}
    </head>
    <body>
        <div>Search: <a href="/Search">Search Manually</a></div>
                <div>Search: <a href="/Search_by_image">Search By Image</a></div>

        <hr>
        {% block content %}{% endblock %}
    </body>
</html>